<!DOCTYPE html>
<html lang="en"  ng-app="app1">
<head>
	<title>Probe Over The Air: Probe Creation</title><!-- http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/bootstrap-select.min.css"> 	
	<link rel="stylesheet" href="css/component.css">    
	<link rel="stylesheet" href="css/BootSideMenu.css">  
	
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>	
	<script src="js/angular.min.js"></script>
	<script src="js/app.js"></script>
	<script src="js/script.js"></script>
	<script src="js/ng-table.min.js"></script> 
    <script type="text/javascript" src="js/ui-bootstrap-tpls.js"></script>

    <script type="text/javascript" src="js/lodash.min.js"></script>
  <script src="js/angularjs-dropdown-multiselect.js"></script>
	<script src="js/BootSideMenu.js"></script>
		 <script type="text/javascript">
			  $(document).ready(function(){
				  $('#menuleft').BootSideMenu({side:"left", autoClose:true});
			
				  });
				 
		 </script>
		 
	<script>
		// Listen for input event on numInput.
		function myFunction1(event) {
   
	var number = document.querySelector('[name="priority"]').value	
    if(!((event.keyCode > 95 && event.keyCode < 106)
      || (event.keyCode > 47 && event.keyCode < 58) 
      || event.keyCode == 8)) {
        return false;
		}	
}

$(document).ready(function (e) {

    $('#selectId1').click(function(){
        console.log('Dropdown list 1 losing focus...');
        $('#selectId').toggle();
    });
	$('#selectId').click(function(){
        console.log('Dropdown list 1 losing focus...');
        $(this).show();
    });
});
</script>
		 <script type="text/javascript">
			  $(document).ready(function(){
			  
			  $('#contact_form').bootstrapValidator({
                live: 'enabled',
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
				fields: {
					 browsee: {
                        validators: {
                            file: {
                                extension: 'py',
                                maxSize: 5 * 1024 * 1024, // 5 MB
                                message: 'The selected file is not valid, it should be (py) and 5 MB at maximum.'
                            }
                        }
                    },
                'priority[]': {
                    validators: {
                        notEmpty: {
                            message: 'Please specify at least one Device Name'
                        }
                    }
                },
				}
			  });
				  $('#menuleft').BootSideMenu({side:"left", autoClose:true});
				  
			$("#contact_form").validate({
				
				rules: {
					probename:{
						required: true
						
					},
					browsee:{
						required: true,
											
						},
					priority:{
						required: true,
						 digits: true,
						 minlenght:2,
						  min: 1
					},
					devicevalue:{
						required: true
					}
				},
				messages: {
					probename: "Please enter the Probe Name",
					browsee: "Please browse python the files(ie .py)",
					priority: "Please enter valid Priority of file",
					devicevalue: "Please enter Priority of file"
					
				},
				tooltip_options: {
					 
					probename: {
						placement: 'top',
						html: true,
						trigger: 'focus'
					},
					browsee: {
						placement: 'top',
						html: true,
						trigger: 'focus'
					},
					priority: {
						placement: 'right',
						html: true,
						trigger: 'focus'
					},
					devicevalue: {
						placement: 'right',
						html: true,
						trigger: 'focus'
					}
				},
				/* submitHandler: function(form) {
					alert("hidden");
					
					
					 var strconfirm = confirm("Are you sure you want to Send?");
					if (strconfirm == true)
								{
									return true;
								}
								
								
				},
				 invalidHandler: function(form, validator) {
					$("#validity_label").html('<div class="alert alert-danger">There be ' + validator.numberOfInvalids() + ' error' + (validator.numberOfInvalids() > 1 ? 's' : '') + ' here.  OH NOES!!!!!</div>');
				} */
	
			});
				
				  
				  });
				 
	
				 
		 </script>	 

</head>
<body ng-controller="MainCtrl">
<nav class="navbar navbar-inverse">
	<div class="container-fluid cw-header">
    <div class="navbar-header">
		<button type="button" class="navbar-toggle" >
        	<span class="icon-bar"></span>
        	<span class="icon-bar"></span>
        	<span class="icon-bar"></span>                        
      	</button>
      	<a class="navbar-brand" href="index.html">Accenture</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">		
		<ul class="nav navbar-nav navbar-right">
        	<li><a href="#"> Admin &nbsp;&nbsp;<img src="images/user-icon.png"/>  </a></li>
        	<li><a href="#">Logout &nbsp; &nbsp;<img src="images/log-out-icon.png"/></a></li>
      	</ul>
    </div>
 	</div>
</nav>
<div class="col-md-12 text-center header-heading">
  <h1>Probe Creation</h1>
</div> 
 
	<div id="menuleft">	
		<div class="list-group">
		  <h2  class="text-center">Menu<h2>
		  <a href="device_avail.html" class="list-group-item" target="_self" ><img src="images/add-new-test-porbes.png"/>Home</a>
		  <a href="script.html" class="list-group-item active"><img src="images/add-new-test-porbes.png"/>Add New Test Probes</a>
		  <a href="device_inventory.html" class="list-group-item"><img src="images/device-inventory.png"/>Device Inventory</a>
		  <a href="#" class="list-group-item"><img src="images/standard-test-libraries.png"/>Standard Test Libraries</a>
		  <a href="#" class="list-group-item"><img src="images/reports.png"/>Reports</a>
		  <a href="#" class="list-group-item"><img src="images/advanced-search.png"/>Advanced Search</a>		 
		</div>
    </div>
	
		<div class="meny-arrow"></div>
		
  <div class="container contents">
  <div class="col-md-2 text-center"  ></div>  

	<div class="col-md-2"></div>
	
</div>

<div class="container">

<div class="col-md-2"></div>      

<!-- Text input-->
	<div class="col-md-8">   		
		<form class="well form-horizontal" action="UploadServlet" method="post"  id="contact_form" enctype="multipart/form-data">	
			<div class="form-group" >
			  <label class="col-md-4 control-label">Probe Name</label>  
				<div class="col-md-4 inputGroupContainer">
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-tags"></i></span>
			  
			    <input name="probename" required placeholder="Probe Name" class="form-control" type="text" id="probe-name">
			
				</div>
			  </div>
			</div>

			<!-- Text input-->
			 
		<div class="form-group" id="select-device">
			  <label class="col-md-4 control-label">Select Devices</label>  
				<div class="col-md-5 inputGroupContainer">
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-hdd"></i></span>	
			<span class="btn btn-default btn-default1 bor-rad">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#" id="selectId1">
					Select <span class="caret">
				</a> 
				<ul id="selectId" class="dropdown-menu" multiple >
					<table class="table table-condensed">
						<thead>
						  <tr>
							<th>Device Name</th>
							<th>Location</th>
							<th>Status</th>
						  </tr>
						</thead>   
               
						<tbody>
						  <tr ng-repeat="dropdown in dropdowns">
							<td><input type="checkbox" name="devicelist"  ng-click="funer(dropdown,bookes)" ng-model="bookes" value="{{dropdown.deviceName}}" class="ab"  >&nbsp;{{dropdown.deviceName}}</td>
							<td>{{dropdown.location}}</td>
							<td>{{dropdown.status}}</td>
						  </tr>						 
						</tbody>
					  </table>
				</ul>
			
		 
		 </span>
				</div>
			  </div>
	</div>
			
			<div class="form-group" id="selected-device-table">
			  <label class="col-md-4 control-label">Selected Devices</label>  
			  <div class="col-md-4 inputGroupContainer" ng-if="SubmittedCategories.length > 0">
				<table class="table table-condensed" frame="box" rules="all" > 
					<thead>
					   <tr>
                        <th>Sr. No</th>
                        <th>Name</th>
                        <th>location</th>
                        <th>status</th>
                    </tr>
					</thead>
					<tbody>	
					 <tr ng-repeat="cat in SubmittedCategories| orderBy:'deviceId'" ng-if="cat.deviceName.length > 0">
                        <td>{{$index+1}}</td>
                        <td>{{cat.deviceName}}</td>
                        <td>{{cat.location}}</td>
                        <td>{{cat.status}}</td>
                    </tr>
					</tbody>	
				</table>	

			  </div>
			</div>
			
			<div class="form-group" id="browse-scripts">
			  <label class="col-md-4 control-label">Test Scripts</label>  
				<div class="col-md-3 inputGroupContainer">
				<div class="input-group" id="pyt" >
					<span class="input-group-addon"><i class="glyphicon glyphicon-folder-open"></i></span>
					<span class="btn btn-default btn-default1 btn-file bor-rad idd" >
					    <input type="file" name="browsee" multiple id="fileElementId" required >
						<input id="trig_file" type="button" value="Browse"/>
					</span>
				 </div>
			  </div>			
			</div>
			
			<div class="form-group"id="selected-browse-list">
			  <label class="col-md-4 control-label">Selected Test Script List</label>  
				<div class="col-md-4 inputGroupContainer">
					<table class="table table-condensed" frame="box" rules="all" > 
						<thead>
						  <tr>
							<th>Script File</th>
							<th>Priority</th>
							<th>Close</th>
						  </tr>	
						</thead>
				<tbody>	
				<tr ng-repeat="r in fileContent">				
					<td>{{r}}</td>
					<td>
						 <input type="number" class="form-control numr" id="numbery" name="priority" placeholder="Priority" ng-model="productss" value="{{$index+1}}"  required min="1"/>
					 </td>
					<td><a href=""><span class="input-group-addon addon1" ng-click="removeItem1($index)"><i class="glyphicon glyphicon-remove"></i></span></a></td>
				</tr>	
						</tbody>	
					</table>	
			  </div>
			</div>
			<button type="button" class="btn btn-danger"><a href="/ProbeOverAirWeb/device_avail.html" style="color:#fff;text-decoration:none;">Cancel</a></button>&nbsp;
			&nbsp;
			<button type="submit" class="btn btn-success"  >Submit</button>&nbsp;		
		</form>
	</div>
			
	<div class="col-md-2"></div>   

</div>
    <footer class="footer">
      <div class="container">
        <p class="text-muted">Copyright<sup style="font-size:12px;">&copy;</sup> | Accenture India</p>
      </div>
    </footer>

</body>
</html>
