<!DOCTYPE html>
<html lang="en"  ng-app="app">
<head>
	<title>Probe Over The Air: Dashboard</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/bootstrap.min.css"> 	
	<link rel="stylesheet" href="css/component.css">    
	<link rel="stylesheet" href="css/BootSideMenu.css">    
	<link rel="stylesheet" href="css/bootstrap-select.min.css"> 
    <link rel="stylesheet" href="css/ng-table.min.css" type="text/plain">	
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/angular.min.js"></script>
	<script src="js/bootstrap-select.min.js"></script>
	<script src="js/app.js"></script>
	<script src="js/ng-table.min.js"></script>
	<script src="js/BootSideMenu.js"></script>
	<script src="js/angular-local-storage.min.js"></script>
	<script type="text/javascript">
		  $(document).ready(function(){
			  $('#menuleft').BootSideMenu({side:"left", autoClose:true});
			  $("text_div").text(function () {
   			 return $(this).text().replace("[", "").replace("]", ""); 
   			 
			})
			  });
	</script>
	
</head>
<body ng-controller="MainCtrl-1" ng-init="onloadFun()">
<nav class="navbar navbar-inverse">
	<div class="container-fluid cw-header">
    <div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        	<span class="icon-bar"></span>
        	<span class="icon-bar"></span>
        	<span class="icon-bar"></span>                        
      	</button>
      	<a class="navbar-brand" href="#">Accenture</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">		
		<ul class="nav navbar-nav navbar-right">
        	<li><a href="#"> Admin &nbsp;&nbsp;<img src="images/user-icon.png"/>  </a></li>
        	<li><a href="login.html">Logout &nbsp; &nbsp;<img src="images/log-out-icon.png"/></a></li>
      	</ul>
    </div>
 	</div>
</nav>
 <div class="col-md-12 text-center header-heading">
  <h1>Dashboard</h1>
   <div class="col-md-3"></div>
  <div class="col-md-6">
	<div class="inner-addon right-addon">
      <i class="glyphicon glyphicon-search"></i>
      <input type="text" class="form-control" placeholder="Search by Probe Name" ng-model="filter.workorderName" />
    </div>
  </div>
<div class="col-md-3"></div>  
</div>

<div id="menuleft">	
		<div class="list-group">
		  <h2  class="text-center">Menu</h2>
		  <a href="device_avail.html" class="list-group-item active" target="_self" ><img src="images/add-new-test-porbes.png"/>Home</a>
		  <a href="script.html" class="list-group-item"><img src="images/add-new-test-porbes.png"/>Add New Test Probes</a>
		  <a href="device_inventory.html" class="list-group-item"><img src="images/device-inventory.png"/>Device Inventory</a>
		  <a href="#" class="list-group-item"><img src="images/standard-test-libraries.png"/>Standard Test Libraries</a>
		  <a href="#" class="list-group-item"><img src="images/reports.png"/>Reports</a>
		  <a href="#" class="list-group-item"><img src="images/advanced-search.png"/>Advanced Search</a>		 
		</div>
    </div>

  <div class="container">		 
	<!--  <div class="row">
			 <div class="col-md-5">
				<div class="input-group">
				  <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-search"></span></span>
				  <input type="text" class="form-control" placeholder="Search" aria-describedby="basic-addon1" ng-model="searchKeyword" >
				</div>
			 </div>
			 <br clear="all"/> <br clear="all"/> 
		</div> -->
	<div class="row">
		<div class="col-md-2" ></div>
		<div class="col-md-8">
		
			<table class="table table-bordered table-curved" ng-table="tableParams" show-filter="true">
				<thead class="test-head" >
				  <tr class="test-hist" ><!-- ng-init="orderByField = 'upload_time';sortRev = !sortRev" -->
					<th> <a href="" ng-click="orderByField='probe_name'; sortRev = !sortRev"> 
						 Probe Name 
						<span ng-show="orderByField == 'probe_name' && !sortRev" class="glyphicon glyphicon-chevron-up"></span>
					    <span ng-show="orderByField == 'probe_name' && sortRev" class="glyphicon glyphicon-chevron-down"></span>
						</a>
					
					</th>
					<th> <a href="" ng-click="orderByField='uploaded_by'; sortRev = !sortRev">  
					      Uploaded By
						 <span ng-show="orderByField == 'uploaded_by' && !sortRev" class="glyphicon glyphicon-chevron-up"></span>
						 <span ng-show="orderByField == 'uploaded_by' && sortRev" class="glyphicon glyphicon-chevron-down"></span> 
						</a>
					</th>
					<th><a href="" ng-click="orderByField='upload_time'; sortRev = !sortRev">  
					    Upload Time
						<span ng-show="orderByField == 'upload_time' && !sortRev" class="glyphicon glyphicon-chevron-up"></span>
						<span ng-show="orderByField == 'upload_time' && sortRev" class="glyphicon glyphicon-chevron-down"></span> 
						</a>
					</th>
					<th> Details </th>	
				  </tr>
				</thead>
				<tbody>
					<tr ng-repeat="dashboard in $data  | orderBy:orderByField:sortRev"><!-- | filter: searchKeyword -->
						<td>
							{{dashboard.workorderName}}
						</td>
						<td>
							{{dashboard.uploadedBy}}
						</td>
						<td>
							{{dashboard.uploadTime}}
						</td>
						<td><a href="device_avail_detail.html" ng-click="fun(dashboard)">
							Details
							</a>
						</td>
					</tr>
				</tbody>
			</table>
			
			<!-- <button type = "button" class = "btn btn-success btn-mrgn"><span class="glyphicon glyphicon-ok"></span>&nbsp;OK</button>&nbsp;&nbsp;<button type = "button" class = "btn btn-danger btn-mrgn"><span class="glyphicon glyphicon-remove"></span>&nbsp;Cancel</button> -->
		</div>
		<div class="col-md-2"></div>	
	</div>
	
	<div class=""></div>

	
</div>
<br clear="all"/>
    <footer class="footer">
      <div class="container">
        <p class="text-muted">Copyright<sup style="font-size:18px;">&copy;</sup> | Accenture India</p>
      </div>
    </footer>




</body>
</html>
